* {
    font-family: "Ubuntu Condensed", sans-serif;
}

.jumbotron
{
    background-color: #79ad36;
}

button.reminder
{
    background-color: #79ad36;
}

a.forgot_password
{
    color: dodgerblue;
}

h6.recover
{
    color: #79ad36;
}

@media screen and (min-width: 1024px)
{
    .container
    {
        width: 700px
    }
}
